@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Source+Sans+Pro:600');

body,html{
	font-size: 100%;
}

/* Navegador */
nav{
	color: white;
	font-size: 1.8em;
	font-family: 'Quicksand', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}



nav a{
	color: white;
	margin-top: 30px !important;
	text-shadow: 2px 2px 1px black !important;
}
nav a:hover{
	background-color: transparent !important;
	color: #E6F25F;
	text-shadow: 3px 3px 10px black !important;
	font-weight: bold;
}

nav.shrink{
	background-color: rgba(0,0,0,0.5);
}
nav.shrink a{
	
}
nav.shrink a:hover{
	color: white;
	background-color: transparent !important;
	font-weight: bold;
}
.contacto{
	border: 2px solid white;
	border-radius: 10px;
}
.contacto:hover{
	color: #E6F25F;
	border-color: #E6F25F;
}
nav.shrink .contacto:hover{
	background-color: white !important
	color: black !important;
}

/*Header*/
.video-section {
	position: relative;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
}
#video-elem {
	width: 100%;
}
video::-webkit-media-controls {
	display:none !important;
}
.video-text{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	transition: opacity 0.3s ease;
}
.video-text h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-100%);
	font-size: 4em;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	letter-spacing: 0.05em;
	
	
	text-shadow: 4px 4px 1px black;
	
	border-radius: 30px;
}

.video-text a{
	position: absolute;
	left: 47%;
	top: 70%;
	color: white;
	font-size: 5em;
	text-shadow: 0px 5px 1px black;
}

.video-text a:hover{
	text-shadow: 0px 10px 1px black;	
	color: white;
}